<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Reservation</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h2>Create Reservation</h2>
    <div th:if="${errorMessage}" class="alert alert-danger" th:text="${errorMessage}"></div>


    <form th:action="@{/reservation}" th:object="${reservation}" method="post">

        <label>Patient</label>
        <select th:field="*{patient.id}" class="form-control">
            <option th:each="p : ${patients}"
                    th:value="${p.id}"
                    th:text="${p.firstName + ' ' + p.lastName}">
            </option>
        </select>

        <label>Device</label>
        <select th:field="*{device.id}" class="form-control">
            <option th:each="d : ${devices}"
                    th:value="${d.id}"
                    th:text="${d.name + ' - ' + d.type + ' - ' + d.location}">
            </option>
        </select>

        <label>Date and Time</label>
        <input type="datetime-local" th:field="*{dateTime}" class="form-control">

        <label>Body Region</label>
        <input type="text" th:field="*{bodyRegion}" class="form-control">

        <label>Comment</label>
        <textarea th:field="*{comment}" class="form-control"></textarea>

        <br>
        <button type="submit" class="btn btn-primary">Save Reservation</button>
    </form>
</div>
</body>
</html>