<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Reservation List</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h2>Reservation List</h2>

    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Patient</th>
            <th>Reservation Time</th>
            <th>Body Region</th>
            <th>Comment</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="r : ${reservations}">
            <td th:text="${r.patient.firstName + ' ' + r.patient.lastName}"></td>
            <td th:text="${r.time}"></td>
            <td th:text="${r.bodyregion}"></td>
            <td th:text="${r.comment}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>